
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

#header {
  text-align: center;
  text-transform: uppercase;
  background-size: cover;
  color: #FFFFFF;
  padding-top: 50px;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  padding-bottom: 50px;
  background-image: url(../../images/admin_bg.jpg);
}
#content {
  margin: 20px;
}